/*@font-face {
    font-family: "NeyYork";
    src: url(NeyYork.ttf) format("truetype");
}*/

.page {
    border: 1px solid #ddd;
    padding-right: 40px;
    padding-left: 40px;
}

.heading h1 {
    font-family: "NeyYork", sans-serif;
    color: white;
    font-size: 60px;
    text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 9px 7px #504c4c;
}

.heading {
    background-color: #093152;
    margin: 0px -41px 10px;
    padding: 8px;
    border-bottom: 5px solid #777;
}

.article-list .list-group-item:first-child {
    border-top-width: 0px;
}

.article-list .list-group-item:last-child {
    border-bottom-width: 0px;
}

.article-list .list-group-item {
    border-left-width: 0px;
    border-right-width: 0px;
}

.mini-button {
    padding: 1px 10px;
}

.form-inline>* {
    margin-right: 5px;
}

.search-panel {
    padding-top: 15px;
    padding-bottom: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

div .footer {
    background-color: #474a50;
    border-top: 4px solid #777;
    margin: 0px -41px 0px;
    padding: 20px;
    color: white;
}